@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


/*
  COLOR VARIABLES
*/

:root {
    --defautGrey: #646464;
    --lightGrey: #adadad;
    --neonOrange: #CE5937;
    --neonGreen: #5dce64;
}
  

/*
    LOGIN FORM
*/

.loginform {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loginform__label {
    font-size: 20px;
    font-weight: bold;
}

.loginform__input {
    width:100%;
    padding:10px;
    background: transparent;
    border: 2px solid black;
    box-sizing: border-box;
}

.loginform__input::placeholder {
    color: transparent;
}

.loginform__input:focus {
    outline: none;
}

.loginform__button {
    font-size: 30px;
    width:100%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.loginform__button:hover {
    transform: scale(1.1);
}

/*
    CHATROOM
*/


.chatroom {
    
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #646464;

}

.chatroom__settingsicon {
    font-size: 15px;
    padding: 10px;
    /* text-align: right; */
    /* align-items: center; */
    /* right: 0px; */
}


.chatroom__form {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.chatroom__form--input {
    width: calc(100% - 4px);
    background: #757575;
    border: none;
    height: 35px;
}

.chatroom__form--input:focus {
    outline: none;
}

.chatroom__form--input::placeholder {
    color: black;
}

/*  
    scrollbar gutter might only be in chrome if its not 
    nice on another browser use scroll instead of auto 
*/

.chatroom__text {
    /* margin-top: 10px; */
    height: calc(100% - 65px);
    /* overflow-y: scroll; */
    overflow-y: auto; 
    scrollbar-gutter: stable;
    text-align: left;
}

.chatroom__text--bubble {
    width: 95%;
    margin: 2%;
    border-radius: 5px;
    padding: 1px;
    /* border: 1px solid black; */
    background: #757575;
    font-family: 'Didact Gothic';
}

p.chatp {
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: black;
}


/*
    LIST CHATROOMS
*/

.chats {
    max-height: 300px;
    margin-bottom: 40px;
    overflow-y: auto; 
    /* scrollbar-gutter: stable; */
    /* border: 2px solid black; */
}

.listChat {
    /* display: flex; */
    font-family: 'Didact Gothic';
    list-style-type: none;
    margin: 4px;
}

.listChat__text {
    /* padding: 5px; */
    font-size: 20px;
}

.listChat__icon {
    margin-right: 10px;
    font-size: 20px;
    float: right;
}

.listChatUser__text {
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.listChat__button {
    float: right;
    border: 2px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    text-align: right;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.listChat__button:active {
    transform: scale(0.95);
}

/*
    CHAT PW JOIN FORM
*/

.newChannel {
    display: flex;
}

.newPwChannel {
    display: none;
}

.pwChannelShow {
    display: flex;
}

.channelShow {
    display: none;
}

.chatPw {
    display: none;
    position: relative;
    width: 100%;
}

.chatPwShow {
    display: flex;
}

.pwform__label {
    font-family: 'Silkscreen', cursive;
    font-size: 15px;
}

.pwform__input {
    font-size: 20px;
    background: transparent;
    border: 2px solid black;
    display: inline-block;
}

.pwform__input::placeholder {
    color: transparent;
}

.pwform__input:focus {
    outline: none;
}

.pwform__button {
    border: 2px solid;
    color: black;
    font-size: 18px;
    margin-left: 5px;
    background-color: transparent;
    font-family: 'Silkscreen', cursive;
    cursor: pointer;
    display: inline-block;
}

.pwform__button:hover {
    transform: scale(1.02);
}

/*
    CHAT SETTINGS
*/

.channelSettings {
    /* position: relative; */
    padding: 3px;
    text-align: left;
}

.listMembers {
    /* text-align: left; */
    font-family: 'Didact Gothic';
    list-style-type: none;
    cursor: pointer;
}

.settingsPassword {
    display: none;
}

.settingsPasswordToggle {
    display: inline;
}

.settingsPasswordShow {
    display: inline;
}

.settingsPasswordHide {
    display: none;
}

.settingsInput {
    width:100%;
    height: 28px;
    background: transparent;
    border: 2px solid black;
    border-bottom: none;
    box-sizing: border-box;
}

.settingsInput::placeholder {
    color: transparent;
}

.settingsInput:focus {
    outline: none;
}

.settingsButton {
    margin-bottom: 5px;
    width: 100%;
    font-size: large;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.settingsDropdown {
	display: none;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid black;
    border-bottom: none;
	/* background-color: #8a8a8a; */
}

.memberButton {
    /* margin-bottom: 5px; */
    width: 100%;
    font-size: large;
    border: none;
    border-bottom: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.settingsShow {
	display: flex;
}

/*
    PASSWORD POPUP
*/

.passwordPrompt {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-color: var(--defautGrey);
}

.passwordCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 6 / 6;
    z-index: 9999;
}

/*
    PROFILE
*/

.profile {
    display: flex;
    width: 60%;
    max-width:100%;
    height: 80%;
    /* border: solid 2px black; */
}

.profileLeft {
    flex: 0.7;
    /* border-right: solid 2px black; */
}

.profileRight {
    flex: 2;
    margin-left: 40px;

    flex-direction: row;
    flex-wrap: wrap;
    height: 80%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.rightTop {
    flex: 0.5;
    /* height: 100%; */
    overflow-y: auto; 
    scrollbar-gutter: stable;
    /* border: solid 2px black; */
}

.rightBottom {
    flex: 1;
    height: 100%;
    /* overflow-y: auto; 
    scrollbar-gutter: stable; */
    /* border: solid 2px black; */
}


.listHistory {
    height: 90%;
    /* min-width: 0; */
    overflow-y: auto; 
    scrollbar-gutter: stable;
}

.profileAvatar {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    border: solid 2px black;
}

.profileQR {
    width: 100%;
}

.profileAvatar_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.profileButton {
    width: 100%;
    font-size: 100%;
    margin-bottom: 5px;
    border: 2px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}


.twoFA {
    display: none;
}

.twoFA_show {
    display: inline;
}

.twoFA_input {
    width: 100%;
    font-size: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    background: transparent;
    border: 2px solid black;
}

.twoFA_input::placeholder {
    color: transparent;
}

.twoFA_input:focus {
    outline: none;
}

.profileButton:active {
    transform: scale(0.95);
}

.uploadAvatar {
    width: 98%;
    font-size: 100%;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    display: inline-block;
    line-height: 1.5;
}

.uploadAvatar_input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

@media (max-width: 1000px) {
    .profile {
        width: 100%;
    }
}

/*
    PROFILE NAV
*/

.profileNav {
    position: fixed;
    top: 2%;
    right: 3%;
    text-align: right;
    margin: 0;

    word-break: break-word;
}

.profileNav__dropdown {
    display: none;
    /* height: 200px; */
    width: 200px;
    /* margin: auto; */
    line-height: 1;
    /* padding: 2%; */
    text-align:center;
    background-color: #646464;
    border: 2px solid black;
}

.profileNav__avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    /* object-fit: cover; */
    display: inline-block;
}

.profileNav__close {
    font-size: 20px;
    text-align: right;
}

.profileNav__close:hover {
    cursor: pointer;
}

/* .profileNav__avatar:hover, .profileNav__avatar:focus {
    cursor: pointer;
    transform: scale(1.05);
} */

.show {
    display: block;

}
/*
    FRIENDSLIST
*/

.friendslist {
    text-align: left;
    list-style-type: none;
    font-family: 'Didact Gothic';
}

.friendInvite {
    margin: 6px;
    border: 2px solid black;
}

.friendslistButton {
    width: 50%;
    font-size:100%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.friendslistButton:active {
    transform: scale(0.95);
}

/*
    LOGIN
*/

.loginTwoFA_input {
    width: 30%;
    height: 40px;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    background: transparent;
    border: 2px solid black;
}

.loginTwoFA_input::placeholder {
    color: transparent;
}

.loginTwoFA_input:focus {
    outline: none;
}

.loginButtonDIV {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginButton {
    font-size: 30px;
    width:30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
    2px 2px 0px 0px #CE5937, 
    3px 3px 0px 0px #5dce64,  
    4px 4px 0px 0px #5dce64;
}

.loginButton:hover {
    transform: scale(1.05);
}

/*
    BUTTONS
*/

.logoutButton  {
    position: fixed;
    top: 2.5%;
    left: 3%;
    font-size: 30px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.defaultButton {
    font-size: 30px;
    width:30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.defaultButtonA {
    font-size: 30px;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.boringButton {
    font-size: 30px;
    width:30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.boringButton__small {
    /* width:100%; */
    border: 2px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.boringButton__small:hover {
    transform: scale(1.05);
}

.defaultButton:hover, .defaultButtonA:hover, .boringButton:hover, .logoutButton:hover {
    transform: scale(1.1);
}

/*
    FOOTER CHAT
*/

.footerChat {
    position: fixed;
    bottom: 0px;
    right: 30px;
    text-align: right;
    margin: 0;
}

.footerChat__icon {
    font-size:1.1em; 
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px 5px 20px;
    background-color: black;
    color:  #757575;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    -webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.3);
}

.footerChat__body {
    display: none;
    word-break: break-word;
    border: 2px solid #000000;
    border-bottom: none;
    height: 500px;
    width: 700px;
    background-color: #646464;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
}

.footerChat__sidebar {
    flex: 0.5;
    text-align: left;
    border-right: 2px solid black;
}

.footerChat__chat {
    flex: 2;
}

.footerChat__settings {
    display: none;
    flex: 0.5;
	width: 100%;
    padding: 3px;
    text-align: left;
    border-left: 2px solid black;
}

.footerChat__show {
    display: flex;
}

/*
    LEADERBOARD
*/

.leaderboard {
    width: 50%;
    height: 100%;
    padding: 2%;
    /* max-height: 300px; */
    /* margin-bottom: 40px; */
    overflow-y: auto; 
    /* scrollbar-gutter: stable; */
    /* border: 2px solid black; */
}

.listLeaderboard {
    font-size: 1.7vw;
}

.leaderboardLeft {
    float: left;
    overflow: hidden; 
    white-space: nowrap;
}

.leaderboardRight {
    float: right;
}

.leaderboardLeft:after { 
    content: " .................................................................................." 
}

/*
    GAME
*/

.gameQueue {
    width: 80%;
    display: flex;  
    flex-direction: row;
    
    /* position: relative; */
    /* flex-direction: row; */
}

.gameSearch {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    /* margin: auto auto; */
    /* margin-bottom: none; */
}

.test {
    width: 50%;
    padding: 5%;
}

.gamePicture {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    object-fit:cover;
}

.gameLeft {
    float: left;
    font-weight: bold;
}

.gameRight {
    float: right;
    font-weight: bold;
}

.gameCanvas {
    background-color: black; 
}

.newButton {
    font-size: 30px;
    width: 100%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.gameButton {
    font-size: 30px;
    /* width:30%; */
    min-width: 30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    /* word-break: break-word; */
}

.gameDiscoButton {
    font-size: 30px;
    width:100%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.gameButton:active, .gameDiscoButton:active {
    transform: scale(0.95);
}

.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dot-elastic 1s infinite linear;
  }
  .dot-elastic::before, .dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dot-elastic-before 1s infinite linear;
  }
  .dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    animation: dot-elastic-after 1s infinite linear;
  }
  
  @keyframes dot-elastic-before {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes dot-elastic {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.5);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes dot-elastic-after {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }