@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*
    LOGIN FORM
*/

.loginform {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loginform__label {
    font-size: 20px;
    font-weight: bold;
}

.loginform__input {
    width:100%;
    padding:10px;
    background: transparent;
    border: 2px solid black;
    box-sizing: border-box;
}

.loginform__input::placeholder {
    color: transparent;
}

.loginform__input:focus {
    outline: none;
}

.loginform__button {
    font-size: 30px;
    width:100%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.loginform__button:hover {
    transform: scale(1.1);
}

/*
    CHAT
*/

.chatroom {
    position: relative;
    width: 80%;
    /* height: 40%; */
    margin-top: 40px;
    /* border: 2px solid black; */
}

.chatroom__form {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.chatroom__form--input {
    width: calc(100% - 4px);
    background: #757575;
    border: none;
    height: 35px;
}

.chatroom__form--input:focus {
    outline: none;
}

.chatroom__form--input::placeholder {
    color: black;
}

/*  
    scrollbar gutter might only be in chrome if its not 
    nice on another browser use scroll instead of auto 
*/

.chatroom__text {
    margin-top: 20px;
    height: calc(100% - 75px);
    /* overflow-y: scroll; */
    overflow-y: auto; 
    scrollbar-gutter: stable;
}

.chatroom__text--user {
    font-weight: bold;
}

.chatroom__text--bubble__left {
    width: 40%;
    margin: 2%;
    border-radius: 5px;
    padding: 1px;
    /* border: 1px solid black; */
    background: #757575;
    font-family: 'Didact Gothic';
}

.chatroom__text--bubble__right {
    width: 40%;
    margin: 2%;
    float: right;
    border: 1px solid black;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: black;
}


/*
    LIST CHATROOMS
*/

.listChat {
    display: flex;
    margin: 5px;
    /* width: 40%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px; */
}

.listChat__text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.listChat__icon {
    margin-right: 10px;
    font-size: 25px;
}


/*
    PROFILE NAV
*/

.profile {
    /* position: relative; */
    /* display: inline-block; */
    /* border: 2px solid black; */
}

.profile__dropdown {
    display: none;
    margin-top: 15px;
    /* position: absolute; */
    /* min-width: 160px; */
    /* scale: 0.8; */
    border: 2px solid black;
    z-index: 1;
}

.profile__avatar {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile__avatar:hover, .profile__avatar:focus {
    transform: scale(1.05);
}

.show {
    display: block;
}

.profile__border{
    border: 2px solid black;
}

/*
    BUTTONS
*/

.defaultButton {
    font-size: 30px;
    width:30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.boringButton {
    font-size: 30px;
    width:30%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.boringButton__small {
    width:10%;
    border: 2px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
}

.boringButton__small:hover {
    transform: scale(1.05);
}

.defaultButton:hover, .boringButton:hover {
    transform: scale(1.1);
}

/*
    GAME
*/
