
.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25x;
    border: none;
    transition: 0.2s;
}

.input__box:focus {
    box-shadow: 0 0 10px 2000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 12px;
    border-radius: 50px;
    right: 0;
    border: none;
    font-size: 15px;
    background-color: #712745;
    color: white;
    transition: 0.2 all;
}