@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

/*
    LOGIN FORM
*/

.loginform {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.loginform__label {
    font-size: 20px;
    font-weight: bold;
}

.loginform__input {
    width:100%;
    padding:10px;
    background: transparent;
    border: 2px solid black;
    box-sizing: border-box;
}

.loginform__input::placeholder {
    color: transparent;
}

.loginform__input:focus {
    outline: none;
}

.loginform__button {
    font-size: 30px;
    width:100%;
    margin-top:20px;
    border: 3px solid;
    color: black;
    font-weight: bold;
    font-family: 'Silkscreen', cursive;
    background-color: transparent;
    box-shadow: 1px 1px 0px 0px #CE5937, 
                2px 2px 0px 0px #CE5937, 
                3px 3px 0px 0px #5dce64,  
                4px 4px 0px 0px #5dce64;
}

.loginform__button:hover {
    transform: scale(1.1);
}

.chatroom {
    position: relative;
    width: 80%;
    height: 50%;
    margin-top: 40px;
    border: 2px solid black;
}

.chatroom__form {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.chatroom__form--input {
    width: calc(100% - 4px);
    background: #757575;
    border: none;
    height: 35px;
}

.chatroom__form--input:focus {
    outline: none;
}

.chatroom__form--input::placeholder {
    color: black;
}

.chatroom__text {
    margin-top: 30px;
    height: calc(100% - 65px);
    overflow: auto;
}